.text_div{
    text-align: center;
}

.btn{
    margin: 0;
    position: absolute;
    left:50%
}

.confirm{
    padding-bottom: 5%;
    position: relative;
    right: 6%;
}
.confirm>button{
    background: #0D6EFD;
    color:  white;
    border-color:  #0D6EFD;
}
.confirm>button:hover{
    background-color:  #97cba9;
    border-color:  #97cba9;
}
.text-center {
    text-align: center;
  }
.side>button{
    background: #6C757D;
    color: white;
    border-color: #6C757D;
}
.side>button:hover{
    background-color:  #0D6EFD;
    border-color:#0D6EFD;
}
.selected>button{
    background: #0D6EFD;
    color:  white;
    border-color:  #0D6EFD;
}
.selected>button:hover{
    background: #0D6EFD;
    border-color:  #0D6EFD;
}