<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Welcome to the login page</title>
    </head>
    <body>
        <form method="POST">
            <h3>Sign Up</h3>
            <div class="form-group">
                <label for="name">Name</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="name" name="name" 
                    placeholder="Enter Name"
                />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input 
                    type="email" 
                    class="form-control" 
                    id="email" name="email" 
                    placeholder="Enter Email"
                />
            </div>
            <div class="form-group">
                <label for="pw1">Password</label>
                <input 
                    type="password" 
                    class="form-control" 
                    id="pw1" name="pw1" 
                    placeholder="Enter Password"
                    required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Password must contain at least 8 characters, one uppercase character, at least one number and a special character"
                />
            </div>
            <div class="form-group">
                <label for="pw2">Confirm Password</label>
                <input 
                    type="password" 
                    class="form-control" 
                    id="pw2" name="pw2" 
                    placeholder="Confirm Password"
                />
            </div>
            <br>
            <button tpye="submit">Submit</button>
        </form>

        {% for message in get_flashed_messages() %}
        <div class="flash">{{message}}</div>
        {% endfor %}
    </body>
</html>