<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" href="static/logo.png">
        <title>FAQ</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="static\faq.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    </head>
    <body style="background-color:#E8F0FE;">
        
        <nav class="navbar navbar-dark bg-dark">
            <div class="brand"><h1><font color="#fff">FAQ</font></h1></div>
            <ul class="nav ms-auto">
                <li class="nav-item" >
                    <a class="nav-link" href="/faq">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
        <br>
    <div class="faqs">
        <div class="card text-white bg-dark mb-3 mx-auto" style="max-width: 60rem;  min-width: 20rem; text-align: center;">
            <div class="card-body">
                <h5 class="card-title">Navigation</h5>
            </div>
        </div>
        <div class="card border-secondary mb-3 mx-auto" style="max-width: 60rem; min-width: 20rem;">
            <div class="card-header" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="text-align: center;">How do I navigate to my projects?</div>
            <p class="card-text" id="collapseOne">You first have to create a project by clicking "Create New Project". After you complete the form you can view it on the left column of the home page. Simply click on the project you wish to observe and you will be redirected in the view project page.</p>
        </div>
        <div class="card text-white bg-dark mb-3 mx-auto" style="max-width: 60rem;  min-width: 20rem; text-align: center;">
            <div class="card-body">
                <h5 class="card-title">Risk Assessment</h5>
            </div>
        </div>
        <div class="card border-secondary mb-3 mx-auto" style="max-width: 60rem; min-width: 20rem;">
            <div class="card-header" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="text-align: center;">How is the risk assessment generated?</div>
            <p class="card-text" id="collapseOne"> We trained a Machine Learning model to classify projects into Successes and Failures, using research provided by past Software-Engineering projects. Data Science + Magic = Risk Assessment.</p>
        </div>
        <div class="card border-secondary mb-3 mx-auto" style="max-width: 60rem; min-width: 20rem;">
            <div class="card-header" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="text-align: center;">How often can I refresh the risk assessment generator?</div>
            <p class="card-text" id="collapseOne">You can press "Calculate Risk" anytime you wish. This will take into account any changes you have made since the last calculation.</p>
        </div>
        <div class="card text-white bg-dark mb-3 mx-auto" style="max-width: 60rem;  min-width: 20rem; text-align: center;">
            <div class="card-body">
                <h5 class="card-title">Editting Metrics</h5>
            </div>
        </div>
        <div class="card border-secondary mb-3 mx-auto" style="max-width: 60rem; min-width: 20rem;">
            <div class="card-header" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="text-align: center;">What is edit project details?</div>
            <p class="card-text" id="collapseOne">This is the page where you can make changes to the project details. Even those you have already set up such as the deadline and the budget. This will change the result of your risk assessment.</p>
        </div>
        <div class="card border-secondary mb-3 mx-auto" style="max-width: 60rem; min-width: 20rem;">
            <div class="card-header" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="text-align: center;">How do I link a repository?</div>
            <p class="card-text" id="collapseOne">When you enter a GitHub token and a GitHub URL, we validate them and then we get access to your repository.</p>
        </div>
        <div class="card border-secondary mb-3 mx-auto" style="max-width: 60rem; min-width: 20rem;">
            <div class="card-header" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="text-align: center;">What is the survey interval?</div>
            <p class="card-text" id="collapseOne">Regular surveys will be sent to your developers' email address the answers of which will be taken into consideration for the risk assessment. The survey interval value defines (in days) how often a survey will be sent out to your team.</p>
        </div>
        <div class="card text-white bg-dark mb-3 mx-auto" style="max-width: 60rem;  min-width: 20rem; text-align: center;">
            <div class="card-body">
                <h5 class="card-title">Other Options</h5>
            </div>
        </div>
        <div class="card border-secondary mb-3 mx-auto" style="max-width: 60rem; min-width: 20rem;">
            <div class="card-header" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="text-align: center;">How do I add developers?</div>
            <p class="card-text" id="collapseOne">You simply add the developer's email address into the field on "Manage Developers". After that, you can immediately see them in the table on the right.</p>
            
        </div>
        <div class="card border-secondary mb-3 mx-auto" style="max-width: 60rem; min-width: 20rem;">
            <div class="card-header" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="text-align: center;">What are internal deadlines?</div>
            <p class="card-text" id="collapseOne">In a software project, you should assign smaller tasks with deadlines within the final deadline of your project. You can set those up in "Internal Deadlines" by entering their title and deadline. After that, you can view them in the table on the right as well as declariung them successful or failed at any point.</p>
            
        </div>
    </div>
        <div class="go_back"><a href="javascript: history.go(-1)"><button type="submit" class="btn btn-primary">Go Back</button></a></div>
    </body>
        </html>