
.container2{
    position: relative;
    margin: 0 auto;
    background: #212429;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 125%;
    padding-left: 10%;
    border-radius: 2vh;
    text-align: center;
    padding-top: -50%;
}

.text_div{
    position: relative;
    right: 5%;
    text-align: center;
    color: #fff;
}
.form-check-input{
    left: 20%;
}

.h2{
    margin: auto;
}
.mb-3{
    width: 20rem;
}

.labels{
    text-align: left;
}

.text_div>a{
    position: relative;
    color: white; 

    display: inline-block;
    left: 43%;
    top: -8vh;
}
.text_div>a:hover{
    color: white; 
}
.text_div>a:visited{
    color: white; 
}

.go_back>button:hover{
    background-color:  #97cba9;
    border-color:  #97cba9;
}

.url_div{
    position: relative;
    bottom: 2.2vh;
}