#container2{
    padding-bottom: 10%;
    float: left;
    margin: 10% 0 0 0;
    width: 30%;
    
}
#container1{
    float: left;
    margin: 10% 0 0 7%;
    width: 15%;
}

.container3{    
    margin-right: 50%;
    background-color: #212429;
    padding: 10%;
    width: 175%;
    border-radius: 2vh;
    text-align: center;
    height: 85vh;
    margin-top: -40%;
    
}

.labels{
    text-align: left;
}


.confirm>button:hover{
    background-color:  #97cba9;
    border-color:  #97cba9;
}

.mb-3{
    width: 20rem;
}

.brand{
    position: absolute;
    left: 50%;
    margin-left: -200px !important;  /* 50% of your logo width */
    display: block;
}

.column2{
    width: 45%;
    float: right;
    padding-left: 2.2%;
}

.column1{
    width: 45%;
    float: left;
}

.confirm{
    position: absolute;
    top: 88%;
    right: 50%;
}

body{
    background-color: #E8F0FE;
}


input::placeholder{
    font-size: 14px;
}

.side>button{
    background: #6C757D;
    color: white;
    border-color: #6C757D;
}
.side>button:hover{
    background-color:  #0D6EFD;
    border-color:#0D6EFD;
}
.selected>button{
    background: #0D6EFD;
    color:  white;
    border-color:  #0D6EFD;
}
.selected>button:hover{
    background: #0D6EFD;
    border-color:  #0D6EFD;
}